.container {
  display: flex;
  background-color: #EB4994;
  align-content:center;
  width:1300px;
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

h1, p{
  text-align:center;
}